{% extends "base.html" %}

<div class="panel panel-info">
      <div class="panel-heading">
        DATA LOGS
      </div>
      <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Timestamp</th>
                <th>Filename</th>
                <th>Sensor</th>
                <th></th>
            </tr>
            </thead>
        
            <tbody>
                
            </tbody>
            
        </table>
      </div>
    </div>