{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="alert alert-info" role="alert">TEMPERATURE & HUMIDITY
                    </div>
                    {% if s1_cur_temp == '0.0' %}
                        <span class="label label-danger">Sensor 1</span> 
                    {% else %}
                        <span class="label label-success">Sensor 1</span> 
                    {% endif %}
                    Temperature: <b>{{ s1_cur_temp }}</b> Humidity: <b> {{ s1_cur_humid }}</b>
                    <br>
                    <br>
                    <div class="chart-container"> <!--style="height:8vh; width:25vw"-->
                        <canvas id="chart_1"></canvas>
                    </div>

                    <br>

                    {% if s2_cur_temp == '0.0' %}
                        <span class="label label-danger">Sensor 2</span> 
                    {% else %}
                        <span class="label label-success">Sensor 2</span> 
                    {% endif %}
                    Temperature: <b>{{ s2_cur_temp }}</b> Humidity: <b> {{ s2_cur_humid }}</b>
                    <br>
                    <br>
                    <div class="chart-container">
                        <canvas id="chart_2"></canvas>
                    </div>

                    <br>

                    {% if s3_cur_temp == '0.0' %}
                        <span class="label label-danger">Sensor 3</span> 
                    {% else %}
                        <span class="label label-success">Sensor 3</span> 
                    {% endif %}
                    Temperature: <b>{{ s3_cur_temp }}</b> Humidity: <b> {{ s3_cur_humid }}</b>
                    <br>
                    <br>
                    <div class="chart-container">
                        <canvas id="chart_3"></canvas>
                    </div>

                    <br>
                </div>
                <div class="col-md-4">  
                    <div class="alert alert-info" role="alert">WATER LEVEL</div>
                
                </div>
                <div class="col-md-4">
                    <div class="alert alert-info" role="alert">SMOKE</div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.3.1.min.js') }}"></script>
    <script>
        /*$(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('sensor') }}').done(
                    function() {
                        $("#chart").load("/sensor", function() {  console.log( "Load was performed." ); });
                    }
                );
            }, 10000);
        });*/

        //$(document).ready(function() {
            //setInterval("ajaxd()",10000); // call every 10 seconds
        //});

        //function ajaxd() { 
          //reload result into element with id "sysStatus"
        //  $("#chart").load("/sensor", function() {  console.log( "Load was performed." ); });

        //}

        var mychart = document.getElementById("chart_1").getContext("2d");

        new Chart(mychart, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Temperature',
                        data: [{% for item in temp_values %}
                                {{item}}, 
                                {% endfor %}],
                        backgroundColor: 'rgba(151,187,205,0.2)',
                        borderColor: 'rgba(151,187,205,1)',
                        pointBackgroundColor: 'rgba(151,187,205,1)'
                    }, 
                    { //rgba(0, 255, 0, 0.3)
                        label: 'Humidity',
                        data: [{% for item in humid_values %}
                                {{item}}, 
                                {% endfor %}],
                        backgroundColor: 'rgba(160, 232, 224, 0.2)',
                        borderColor: 'rgba(160, 232, 224, 1)',
                        pointBackgroundColor: 'rgba(160, 232, 224, 1)'
                    }
                ],
                labels: [{% for item in labels %}
                            "{{item}}",
                       {% endfor %}]
            },
            options: {
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                    }]
                },
                animation: {
                    duration: 0
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 0
                    }
                }
            }
        });
    </script>
{% endblock %}
